<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
  <th:block th:include="fragments/header :: head"> </th:block>
</head>
<body>
<div class="container">
  <br>
  <nav>  <th:block th:replace="fragments/nav_admin :: nav"></th:block>   </nav>
  <br>

  <h1>ALL Posts LIST :) </h1>
  <br>
  <table class="table table-striped">
    <thead>

    <th scope="row">Postname</th>
    <th scope="row">Post Content</th>
    <th scope="row">Update</th>
    <th scope="row">Delete</th>
    </thead>
    <tbody>
    <tr th:each="post : ${postLists}">

      <td th:text="${post.pname}"></td>
      <td th:text="${post.pcontent}"></td>

      <td>
        <a class="btn btn-primary" th:href="@{/updatePost/__${post.pid}__}"  role="button" >Update</a>
      </td>
      <td>
        <a class="btn btn-primary" th:href="@{/deletePost/__${post.pid}__}" role="button" >Delete</a>
      </td>
    </tr>
    </tbody>
  </table>


  <br>
  <a class="btn btn-primary" th:href="@{/addingPostAdmin}"  role="button" >Add New Post</a>
  <br>

  <nav aria-label="...">
    <br>
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <span class="page-link">Previous</span>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active" aria-current="page">
      <span class="page-link">
        2
        <span class="sr-only">(current)</span>
      </span>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>


  <footer>
    <th:block th:include="fragments/footer :: footer"></th:block>
  </footer>

</div>
</body>
</html>
