<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="fragments/header :: head"> </th:block>
</head>
<body>
<div class="container">
    <br>
    <nav>  <th:block th:replace="fragments/nav :: nav"></th:block>   </nav>
    <br>
    <h1>ALL Users LIST :) </h1>
    <br>
    <table class="table table-striped">
        <thead>

        <th scope="row">Firstname</th>
        <th scope="row">Lastname</th>
        <th scope="row">Email</th>
        <th scope="row">Username</th>

        </thead>
        <tbody>
            <tr th:each="user : ${userLists}">

                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.userName}"></td>

            </tr>
        </tbody>
    </table>


    <br>
    <a class="btn btn-primary" th:href="@{/addUserPage}"  role="button" >Add New User</a>
    <br>

    <nav aria-label="...">
        <br>
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <span class="page-link">Previous</span>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
      <span class="page-link">
        2
        <span class="sr-only">(current)</span>
      </span>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>


    <footer>
        <th:block th:include="fragments/footer :: footer"></th:block>
    </footer>

</div>
</body>
</html>
